.register-section
  margin-block: 30px
  &-container
    @extend .wrapper
    display: flex
    flex-direction: column
    gap: 15px

    &__header
      display: flex
      flex-direction: column

      h1
        font-size: 2em
        color: $text-color
        font-weight: 700

      p
        font-size: 1.2em
        color: $text-color-secondary
        font-weight: 400

    &__content
      display: flex
      width: 100%
      form
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 30px
        width: 100%
        +media-query(600px)
          grid-template-columns: 1fr

        .item-input
          display: flex
          flex-direction: column
          gap: 5px
          width: 100%

          label
            font-size: 1em
            color: $text-color
            font-weight: 500

          input
            padding: 20px 15px
            border: none
            font-size: 1em
            color: $text-color
            border-radius: 10px
            &:active, &:focus
              outline: 1px solid $brand-color

          &__group
            display: flex
            flex-direction: row
            width: 100%
            align-items: center
            position: relative
            input
              width: 100%

            .icon
              display: flex
              align-items: center
              position: absolute
              right: 0px
              cursor: pointer
              padding-right: 25px

        .success-button
          display: flex
          background: $tertiary-color
          padding: 14px 8px
          border: none
          width: fit-content
          min-width: 200px
          font-size: 1em
          color: $text-color-light
          font-weight: 600
          align-items: center
          justify-content: center
          cursor: pointer
          grid-column: 2
          justify-self: flex-end
          transition: ease-in 0.2s
          border-radius: 10px
          +media-query(600px)
            grid-column: 1
            width: 100%

          &:hover
            background: $accent-color-green
