.reivindicar-section
  margin-block: 30px
  &-container
    @extend .wrapper
    display: flex
    flex-direction: column
    gap: 20px

    &__header
      display: flex
      flex-direction: column

      h1
        font-size: 2em
        color: $text-color
        font-weight: 700

      p
        font-size: 1.2em
        color: $text-color-secondary
        font-weight: 400

    &__content
      display: flex
      width: 100%






































