.listagem-section{
    margin-top: 40px;
}

.listagem-section-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.listagem-section-container-header{
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 2rem;
        font-weight: 400;
    }
}
