.listagem-section{
    margin-top: 40px;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

@media (max-width: 1200px) {
    .container {
      padding: 0 15px;
    }
  }

.header{
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 2rem;
        font-weight: 400;
    }
}

.listagem{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.listagem .item{
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: #083D79;
}

.listagem .item .imagem-container{
    padding: 10px 15px;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0px 0px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.listagem .item .descricao-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #083D79;
    padding: 10px 15px;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
    h3{
        color: #fff;
        font-weight: 400;
        font-size: 0.875rem;
    };
    h2{
        color: #fff;
        font-weight: 600;
        font-size: 1rem;
    };
    h4{
        color: #fff;
        font-weight: 300;
        font-size: 0.875rem;
    };
    p{
        color: #fff;
        font-weight: 300;
        font-size: 0.875rem;
    };
}

.listagem .item .descricao-item .button{
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out; /* suavidade */
    background-color: transparent;
}

.listagem .item .descricao-item .button:hover{
    background: #fff;
    color: #083D79;
}
