.header-section{
    background: #002856;
    min-height: 40px;  
}

.header-section-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-section-container-lista{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.header-section-container-lista__item{
    padding: 10px 0px;  
    a{
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }
}
